**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/Dockerfile*
**/docker-compose*
**/*.md
**/*.user
**/*.userosscache
**/*.sln.docstates
**/[Tt]est[Rr]esults
**/[Bb]uild[Ll]og.*
**/.idea
**/*.swp
**/*.swo
**/node_modules
**/.env
**/.env.*
**/appsettings.Development.json
